body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section:nth-of-type(1) {
     background-color: #c5c5ff82;
    padding: 20px;
    margin: 0 auto; /* Center the section horizontally */
    width: 100vw; /* Span the entire width of the viewport */
}

.additional-info {
    text-align: center;
}

.intro-title {
    background-color: #2c2d8cff;
    padding: 10px;
    border-radius: 10px;
    color: white;
    display: inline-block;
}

#development {
    position: relative;
}

.spiral-image {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}


@media only screen and (min-width: 600px) {
 
}


@media only screen and (max-width: 599px) {
    .spiral-image {
        width: 100%;
        max-width: 100%;
        margin-top: 10px;
    }
}
